* {

    font-family: sans-serif;

}
h1 {
    font-family: 'font', sans-serif;
    font-size: 25px;
}
html {
    text-align: center;
}
input {
    width: 50%;
    height: 50px;
    border: 2px solid black;
    padding-left: 10px;
}
#id_ {
    font-size: 20px;
}
#pass_ {
    font-size: 20px;
}
#submit {
    width: 200px;
    height: 75px;
    background-color: #f57a51;
    color: white;
    font-size: 30px;
    font-family: 'font', sans-serif;
    transition-duration: 0.5s;
    cursor: pointer;
}
#submit:hover {
    background-color:#f79d7f;
}