#height {
    size: 50%;
    font-size: 15px;
}
#weight {
    font-size: 15px;
}

#button {
    width: 120px;
    height: 50px;
    background-color: #f57a51;
    color: white;
    font-size: 20px;
    font-family: 'font', sans-serif;
    transition-duration: 0.5s;
    cursor: pointer;
}